[workspace]
resolver = "2"
members = [
    "qmlib",
    "qmassa",
]
default-members = [
    "qmassa",
]

[workspace.package]
edition = "2021"
rust-version = "1.88.0"
license = "Apache-2.0"
repository = "https://github.com/ulissesf/qmassa"
